/* AboutUs.css */
.about-container {
    font-family: 'Arial', sans-serif;
    text-align: center;
    color: #fff;
    background: linear-gradient(135deg, #0f0c29, #302b63, #24243e, #6a3093, #a044ff);
    padding: 50px;
  }
  
  .hero-section {
    margin-top: -30px;
    padding: 100px 20px;
    border-radius: 10px;
  }
  .hero-section p{
    
    margin-bottom: -30px;
    align-items: center;
    display: flex;
    font-size: 25px;
  }
  
  .mission-vision {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
  }
  
  .mission, .vision {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 40%;
  }
  .vision:hover{
    transform: scale(1.1);
  }
  .mission:hover{
    transform: scale(1.1);
  }
  
  .team-section {
    margin-top: 50px;
  }
  
  .team-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  .team-grid:hover{
    transform: scale(1.01);
  }
  
  .team-card {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 200px;
  }
  .team-card:hover{
    background-color: #302b63;
    cursor: pointer;
    transform: scale(1.05);
  }
  
  .team-card img {
    width: 100%;
    border-radius: 50%;
  }
  