.active-bids-container {
    text-align: center;
    padding: 20px;
    background: linear-gradient(135deg, #1a1a2e, #16213e);
    color: rgb(0, 0, 0);
    min-height: 100vh;
  }
  
  h1 {
    font-size: 2rem;
    color: #ff4a57;
  }
  
  .bids-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
  }
  .bids-list h2{
    color: #555;
  }
  
  .bid-card {
    color: black;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease;
  }
  
  .bid-card:hover {
    transform: scale(1.05);
  }
  
  .bid-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease;
    overflow-clip-margin: content-box;
    overflow: clip;
  }
  .bid-image:hover{
    transform: scale(1.1);
  }
  .time-left {
    color: #ffcc00;
    font-weight: bold;
  }
  
  .bid-button {
    background: #ff4a57;
    color: rgb(255, 248, 248);
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1rem;
    border-radius: 5px;
    transition: background 0.3s ease;
  }
  
  .bid-button:hover {
    background: #e63946;
  }
  
  .bid-button:disabled {
    background: #555;
    cursor: not-allowed;
  }
  