.bid-details-container {
    text-align: center;
    padding: 20px;
    background: #f5f5f5;
  }
  
  .bid-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-block;
    text-align: center;
  }
  .bid-card h2{
    color: black;
  }
  
  .bid-image {
    width: 100%;
    max-width: 250px;
    border-radius: 10px;
  }
  
  .bid-input {
    width: 80%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .confirm-bid-button {
    background: #27ae60;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .confirm-bid-button:disabled {
    background: gray;
    cursor: not-allowed;
  }
